<div class="row">
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12" ng-repeat="list in lists" ng-init="listindex = $index">
		<div class="portlet light portlet-fit ">
			<!-- <div class="portlet-title">
				<div class="caption">
					<i class=" icon-layers font-green"></i>
					<span class="caption-subject font-green bold uppercase">{{ list.name }}</span>
				</div>
			</div> -->
			<div class="portlet-body">
				<div class="mt-element-list">
					<div class="mt-list-head list-todo red">
						<div class="list-head-title-container">
							<h3 class="list-title">{{ list.name }}</h3>
							<div class="list-head-count">
								<div class="list-head-count-item">
									<i class="fa fa-cog"></i> {{ list.cards.length }}</div>
							</div>
						</div>
						<a href="javascript:;" ng-click="editCardModal({id:'new'}, list)">
							<div class="list-count pull-right red-mint">
								<i class="fa fa-plus"></i>
							</div>
						</a>
					</div>
					<div class="mt-list-container list-todo">
						<div class="list-todo-line"></div>
						<ul>
							<li class="mt-list-item" ng-repeat="card in list.cards" ng-init="cardindex = $index">
								<div class="list-todo-item grey" style="border-radius: 5px !important">
									<a href="javascript:;" class="btn btn-circle btn-icon-only red pull-right" ng-click="deleteCard(list, cardindex)">
										<i class="fa fa-trash"></i>
									</a>
									<a href="javascript:;" class="btn btn-circle btn-icon-only blue pull-right" ng-click="editCardModal(card, list)">
										<i class="fa fa-edit"></i>
									</a>
									<div class="list-toggle done uppercase" style="padding: 10px; border-radius: 5px !important">
										<div class="list-toggle-title bold">{{ card.name }}</div>
										<br>
										<div class="badge badge-default bold">{{ card.due | moment:'YYYY/MM/DD' }}</div>
									</div>
										<img alt="" class="img-circle" ng-src="{{ 'https://trello-avatars.s3.amazonaws.com/'+member.avatarHash+'/30.png' }}" ng-repeat="member in card.members" />
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>