<style>
.special button {
	background-color: #44b6ae;
	/*border-radius: 32px;*/
	color: black;
}
.transparent {
	opacity: 0.2;
}
/*.special {
	background-color: #44b6ae;
	border-radius: 32px;
	color: black;
}*/
</style>
<br><br>
<div class="modal-header">
</div>
<div class="modal-body" id="modal-body">
	<div class="row">
		<div class="col-xs-12">
			<div class="portlet portlet-light">
				<div class="portlet-title">
					<div class="form-body">
						<div class="form-group" style="width: 100%">
							<label>Name</label>
							<input class="form-control" placeholder="Card Name" type="text" ng-model="card.name">
						</div>
					</div>
				</div>
				<div class="portlet-content form">
					<div class="form-body">
						<div class="form-group">
							<label>Members</label>
							<a href="javascript:;" ng-class="{ transparent: (card.idMembers.indexOf(member.id) == -1) }" ng-click="toggleSelected(member.id)" ng-repeat="member in members">
								<img alt="" class="img-circle" ng-src="{{ 'https://trello-avatars.s3.amazonaws.com/'+member.avatarHash+'/30.png' }}" />
							</a>
						</div>
						<div class="form-group">
							<label>Description</label>
							<textarea ng-model="card.desc" class="form-control"></textarea>
						</div>
						<div class="form-group">
							<label>Due</label>
							<div class="input-icon right">
								<i class="glyphicon glyphicon-calendar font-blue" ng-click="open()"></i>
								<input type="text" class="form-control" uib-datepicker-popup="{{ 'yyyy/MM/dd' }}" ng-model="date.due" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-click="open()" ng-change="selectDate(date.due)" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-show="!isEmptyObject(selected.shift) && !isEmptyObject(selected.client)">
	<button type="button" class="btn btn-sm default" ng-click="close()">Cancel</button>
	<button type="button" ladda="saving" class="btn btn-sm blue" ng-click="save()">{{ (card.id == 'new') ? 'Create' : 'Save' }}</button>
</div>
